doctype html

html
  head
    title= info.title
    link(rel='stylesheet' href='../style.css')
    link(rel="stylesheet" href="https://use.typekit.net/txn7htm.css")

  body
    #main
      each page in pages
        .title.bold= info.title

        .grid-container
          each e in page
            .grid-row(style='color: ' + e.color)
              .grid-item
                .small= e.dow
                .day.bold= e.day
              .grid-item
                .icon(style='fill: ' + e.color + ' !important;') !{e.icon}
              .grid-item.event-title
                .type.small= e.type
                if (e.size === info.minTitleSize)
                  div.spacer &nbsp;
                .name.bold(style='font-size: ' + e.size)= e.name
              .grid-item.time.bold
                div= e.start
                div= e.end

        div &nbsp;

